/*
!*/
!.gitignore
robot/build
robot/devel
robot/src/libraries
robot/src/rosjet
robot/src/jetlabs/encoder_example
robot/src/jetlabs/jet_playground
robot/src/jetlabs/lab2_sense_and_avoid
robot/src/jetlabs/lab3_computer_vision
robot/src/jetlabs/lab7_line_follower
robot/src/jetlabs/motor_test
robot/src/jetlabs/sonar_example
.rosinstall
.rosinstall.bak
.catkin_workspace
.idea